
body {
    font-family: "BlexMono Nerd Font", monospace;
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color:lightskyblue;
    font-size: 40px;
}

h2{
    color: lightblue;
    text-align: justify;
    text-decoration: underline;
}

ul{
    color:lightblue;
}

a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    text-decoration: none;
}

li{
    font-size: 20px;
}
